---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
   name:  {{ certificate.name }}
   namespace:  {{ certificate.namespace }}
spec:
  secretName:  {{ certificate.name }}-{{ certificate.type }}
  issuerRef:
{% if  certificate.type ==  "prod" %}
     name: letsencrypt
{% elif certificate.type == "staging" %}
     name: letsencrypt-staging
{% endif %}
     kind: ClusterIssuer
  commonName: {{ certificate.app }}.{{ certificate.hostBaseDomain }}
  dnsNames:
    - {{ certificate.app }}.{{ certificate.hostBaseDomain }}
    