apiVersion: v1
kind: Secret
data:
  .dockerconfigjson: {{ '{{' }} .Files.Get "{{ doc_reg_secret.file }}" | b64enc {{ '}}' }}
metadata:
  name: {{ app.name }}
  labels:
    {{ '{{' }}- include "{{ app.name }}.labels" . | nindent 4 {{ '}}' }}
    version: {{ '{{' }} .Values.secretfile.version {{ '}}' }}
  resourceVersion: {{ '{{' }} .Values.secretfile.version | quote {{ '}}' }}
type: 
  kubernetes.io/dockerconfigjson
