apiVersion: v1
kind: Secret
metadata:
  name: {{'{{'}} include "{{ app.name }}.fullname" . {{'}}'}}-dbstring
  labels:
    {{'{{'}}- include "{{ app.name }}.labels" . | nindent 4 {{'}}'}}
    version: {{'{{'}} .Values.secretfile.version {{'}}'}}
  resourceVersion: {{'{{'}} .Values.secretfile.version | quote {{'}}'}}
type: Opaque
data:
  dbstring: {{'{{'}} .Files.Get "{{ db_secret.file }}" | b64enc {{'}}'}}