---
apiVersion:  extensions/v1beta1
kind: Ingress
metadata:
  name: {{ ingress.name }}
  namespace: {{ ingress.namespace }}
  labels:
{% for item in ingress.labels %}
    {{ item }}
{% endfor %}
  annotations:
{% for item in ingress.annotations %}
    {{ item }}
{% endfor %}
spec:
  rules:
  - host: {{ ingress.app }}.{{ ingress.hostBaseDomain }}
    http:
       paths:
        - path: {{ ingress.svcPath }}
          backend:
            serviceName: {{ ingress.svcName }}
            servicePort: {{ ingress.svcPort }}
