apiVersion: v1
kind: Service
metadata:
  name: {{'{{'}} include "cloudbilling-api.fullname" . {{'}}'}}
  labels:
    {{'{{'}}- include "cloudbilling-api.labels" . | nindent 4 {{'}}'}}
spec:
  type: {{'{{'}} .Values.service.type {{'}}'}}
  ports:
    - port: {{'{{'}} .Values.service.port {{'}}'}}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{'{{'}}- include "cloudbilling-api.selectorLabels" . | nindent 4 {{'}}'}}
